# Aula 02

In [26]:
# importando bibliotecas
import pandas as pd 
import numpy as np
import io

In [27]:
# carregando dados
data = pd.read_csv( r"C:\Users\ferki\repos\mini_curso\data\AB_NYC_2019.csv", low_memory=False )

In [28]:
# mostra o tipo da variável
type ( data )

pandas.core.frame.DataFrame

In [29]:
# mostra as 6 primeiras linhs do dataframe
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

### 1. Qual o número total de linhas do conjunto de dados?

In [30]:
data.shape  # print(df.shape[0])

(48895, 16)

### 2. Calcule o valor máximo das quantidades de anúncios do Host do imóvel

In [31]:
data[['calculated_host_listings_count']].max()[0]

327

### 3. Quais os tipos de dados de cada coluna?

In [32]:
data.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

### 4. Qual o número de dados faltantes do conjunto de dados?

In [33]:
data.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

### 5. Selecione as seguintes colunas:

#### 5.1 Identificador do registro da base de dados
#### 5.2 Nome do anúncio da plataforma do Airbnb
#### 5.3 Ponto geográfico de latitude
#### 5.4 Ponto geográfico de longitude
#### 5.5 Tipo de locação(quarto, casa inteira, etc)
#### 5.6 Preço do aluguel(diária) 
#### 5.7 Quantidade de revisões mensais

In [34]:
data.loc[:, ['id', 'name', 'latitude', 'longitude', 'room_type', 'price', 'reviews_per_month']]

,id,name,latitude,longitude,room_type,price,reviews_per_month
0,2539,Clean & quiet apt home by the park,40.64749,-73.97237,Private room,149,0.21
1,2595,Skylit Midtown Castle,40.75362,-73.98377,Entire home/apt,225,0.38
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,40.80902,-73.94190,Private room,150,NaN
3,3831,Cozy Entire Floor of Brownstone,40.68514,-73.95976,Entire home/apt,89,4.64
4,5022,Entire Apt: Spacious Studio/Loft by central park,40.79851,-73.94399,Entire home/apt,80,0.10
...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,40.67853,-73.94995,Private room,70,NaN
48891,36485057,Affordable room in Bushwick/East Williamsburg,40.70184,-73.93317,Private room,40,NaN
48892,36485431,Sunny Studio at Historical Neighborhood,40.81475,-73.94867,Entire home/apt,115,NaN
48893,36485609,43rd St. Time Square-cozy single bed,40.75751,-73.99112,Shared room,55,NaN
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,40.76404,-73.98933,Private room,90,NaN

### 6. Calcule o valor médio das diárias mínimas para locação

In [35]:
data.loc[:, ['minimum_nights']].mean()[0]

7.029962163820431

### 7.Calcule o valor máximo da quantidade de avaliações

In [36]:
data.loc[:, ['number_of_reviews']].max()[0]

#np.mean( number_of_reviews )

629

### 8.Quais os nomes das colunas?

In [37]:
data.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

### 9.Calcule o valor mínimo das quantidades de anúncios do Host do imóvel

In [38]:
data.loc[:, ['calculated_host_listings_count']].min()[0]

1

### 10. Qual o número total do colunas do conjunto de dados?

In [39]:
data.shape[1]

16

### 11. Calcule o valor médio das quantidades de anúncios do Host do imóvel

In [40]:
data.loc[:, ['calculated_host_listings_count']].mean()[0]

7.143982002249719

### 12. Calcule o valor mediano das quantidades de anúncios do Host do imóvel

In [41]:
data.loc[:, ['calculated_host_listings_count']].median()[0]

1.0

### 13.Calcule o valor mínimo das quantidades de avaliações

In [42]:
data.loc[:, ['number_of_reviews']].min()[0]

0